body 
{
  background: #F9FAFC;
  color:#9AA4AC;
  font-family: "Open Sans";
  }

header
{
  width: 800px;
  margin: 0 auto 0 auto;
  text-align: center;
}

header a 
{
  padding: 0px;
  display: block;
}

main 
{
  width: 800px;
  margin: 0 auto 30px auto;
}

footer 
{
  width: 800px;
  margin: 0 auto 0 auto;
  text-align: center;
  border-top: 1px solid #9AA4AC;
}

h1
{
  font-family: 'Ruge Boogie', cursive;
  color: rgba(61, 198, 128, 1);
  font-size: 6em;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 110px;
  background-position: 80px 0;
  margin: 30px 0;
}

nav
{
  text-align: center;
  border-top: 1px solid #9AA4AC;
  border-bottom: 1px solid #9AA4AC;
}

a
{
  color:#9AA4AC;
  padding: 12px;
  text-decoration: none;
}

nav a, footer a
{
  width: 160px;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 10px 0;
}

nav a:hover, footer a:hover 
{
  color: #9AA4AC;
  background-color: #F2F2F3;
}

footer a
{
  width: 200px;
  margin: 5px;
}

#imageblock
{
  padding: 10px 0;
  text-align: center;
}

#imageblock img
{
  width: 190px;
  margin: 3px;
}

.green
{
  color: #3DC680;
}

.red
{
  color: #E74880;
}

.store
{
  width: 99%;
  margin-left: 10px;
}

.store td
{
  width: 33%;
}

.store td a 
{
  padding: 0px;
}

.store img
{
  width: 250px;
}

.store span 
{
  font-weight: bold;
  display: block;
}

form 
{
  padding: 10px; 
}

label 
{ 
  float: left;
  width: 100px;
  clear: left;
  text-align: right;
  padding-right: 10px;
  margin-top: 20px; 
}

input 
{ 
  margin-top: 20px;
  display: block; 
  width: 250px;
  padding: 5px;
}

textarea 
{ 
  margin-top: 20px;
  display: block; 
  width: 500px;
  height: 200px;
}

#mySubmit { margin-left: 110px; }

.gallery {
  height: 630px;
  position: relative;
}

.gallery img {
  height: 600px;
  display: none;
  margin: 10px auto;
}

.gallery img.current {
  display: block;
}

.gallery .navigation {
  position: absolute;
  top: 228px;
  margin-left: 50%;
  left: -500px;
  height: 140px;
  width: 1000px;
}

.gallery .navigation i {
  cursor: pointer;
  font-weight: bold;
  font-size: 140px;
  line-height: 140px;
  color: #9AA4AC;
}

.gallery .navigation i.prev {
  float: left;
}
.gallery .navigation i.next {
  float: right;
}